<div id="b" class="row justify-content-center m-5">
  <h2 class="text-center p-4 m-3 font-weight-bold text-success border border-dark bg-light rounded-circle">Ajouter
    un enfant à son compte
  </h2>
</div>

<div id="aa" class="container">
  <div>
    <form class="form-group text-center p-2"
          [formGroup]="newMemberForm"
          (ngSubmit)="onSubmit()">
      <label id="firstNameL" class="font-weight-bolder" for="firstName">Prénom :</label>
      <input formControlName="firstName"><br>
      <label id="lastNameL" class="font-weight-bolder m-3" for="lastName">Nom de famille :</label>
      <input formControlName="lasttName"><br>
      <label id="dateOfBirthL" class="font-weight-bolder m-3" for="dateOfBirth">Date de naissance :</label>
      <input formControlName="dateOfBirth" type="date">
      <br>
      <button
        type="submit"       
        class="form-control btn btn-success border-dark w-50 text-light m-2">
        Ajouter
      </button>
      <button routerLink=""
        class="form-control btn btn-danger border-dark w-50 text-light m-2"
        type="reset">
        Annuler
      </button>
    </form>
  </div>
</div>
<br>
<div #alert *ngIf="this.submit" class="h4 text-center alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  Vous avez ajouté un member a votre famille.
</div>
