<div id="body">
  <br>
  <div class="row justify-content-center p-5">
    <h1
      class="display-3 text-light border border-dark bg-info text-center rounded-pill m-2 p-2 font-weight-bolder">
      Inscription en cours
    </h1>
  </div>
  <br>
  <div id="a" class="container text-dark p-5">
  <!--TODO : Its going to be dynamic-->
    <table class="table table-bordered table-primary">
      <thead class="text-dark font-weight-bold">
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Date de naissance</th>
        <th>Programmes inscrits</th>
      </tr>
      </thead>
      <tbody class="text-info">
      <!--TODO : There will be as much as kids linked to the account-->
      <tr>
        <th>David</th>
        <th>Lemay</th>
        <th>01-06-2011</th>
      <!--TODO : an array of activities-->
        <th class="text-danger">Art & Science</th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
