<div id="body">
  <br>
  <h1 class="text-center p-5">Inscription en cours</h1>
  <br>
  <div id="a" class="container text-dark p-5">
  <!--TODO : Its going to be dynamic-->
    <table class="table table-bordered table-primary">
      <thead class="text-dark font-weight-bold">
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Programmes inscrits</th>
      </tr>
      </thead>
      <tbody class="text-info">
      <!--TODO : There will be as much as kids linked to the account-->
      <tr>
        <th>David</th>
        <th>Lemay</th>
      <!--TODO : an array of activities-->
        <th class="text-danger">Art & Science</th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
