<div class="row justify-content-center p-5">
  <h2 class="text-center p-4 m-3 font-weight-bold text-success border border-dark bg-light rounded-circle">Ajouter
    un enfant à son compte
  </h2>
</div>

<div id="aa" class="container">
  <div>
    <form class="form-group text-center p-2" [formGroup]="newMemberForm" (ngSubmit)="onSubmit()">
      <label id="firstNameL" class="font-weight-bolder" for="firstName">Prénom :</label>
      <input type="text" id="firstName" class="form-control" name="firstName" placeholder="Entrez le prénom"
             required>
      <label id="lastNameL" class="font-weight-bolder m-3" for="lastName">Nom de famille :</label>
      <input type="text" id="lastName" class="form-control" name="firstName" placeholder="Entrez le nom de famille"
             required>
      <label id="dateOfBirthL" class="font-weight-bolder m-3" for="dateOfBirth">Date de naissance :</label>
      <input type="date" id="dateOfBirth" class="form-control" name="date" placeholder="Entrez la date de naissance"
             required>
      <br>
      <button type="submit" [disabled]="!newMemberForm.valid" class="form-control btn btn-success border-dark w-50 text-light m-2">Ajouter</button>
      <input id="cancel" class="form-control btn btn-danger border-dark w-50 text-light m-2" type="reset"
             value="Annuler">
    </form>
    <p class="">Form Status: {{ newMemberForm.status }}</p>
  </div>
</div>

