<h1 class="text-center pt-5 font-weight-bold text-warning">Ajouter un enfant à son compte</h1>
<br>
<div id="aa" class="container">
  <div>
    <form id="connectForm" class="form-group text-center" method="post" action="#">
      <label class="font-weight-bold" for="firstName">Prénom :</label>
      <input type="text" id="firstName" class="form-control" name="firstName" placeholder="Entrez le prénom"
             required>
      <label class="font-weight-bold" for="lastName">Nom de famille :</label>
      <input type="text" id="lastName" class="form-control" name="firstName" placeholder="Entrez le nom de famille"
             required>
      <label class="font-weight-bold" for="date">Date de naissance :</label>
      <input type="date" id="date" class="form-control" name="date" placeholder="Entrez la date de naissance" required>
      <br>
      <input class="form-control btn btn-success border-dark w-50 text-light m-2" type="submit" name="submit"
             value="Ajouter">
      <input id="cancel" class="form-control btn btn-danger border-dark w-50 text-light m-2" type="reset"
             value="Annuler">
    </form>
  </div>
</div>
