<div class="row justify-content-center p-5">
  <h2 class="text-center p-4 m-3 font-weight-bold text-success border border-dark bg-light rounded-circle">Ajouter
    un enfant à son compte
  </h2>
</div>

<div id="aa" class="container">
  <div>
    <form [formGroup]="newMemberForm" (ngSubmit)="onSubmit()">
      <label class="font-weight-bold" for="firstName">Prénom :</label>
      <input type="text" id="firstName" placeholder="Entrez le prénom"><br>
      <label class="font-weight-bold" for="lastName">Nom de famille :</label>
      <input type="text" id="lastName" placeholder="Entrez le nom de famille"><br>
      <label class="font-weight-bold" for="dateOfBirth">Date de naissance :</label>
      <input type="date" id="dateOfBirth" placeholder="Entrez la date de naissance">
      <br>
      <button type="submit" [disabled]="!newMemberForm.valid" class="form-control btn btn-success border-dark w-50 text-light m-2">Ajouter</button>
      <input id="cancel" class="form-control btn btn-danger border-dark w-50 text-light m-2" type="reset"
             value="Annuler">
    </form>
    <p>Form Status: {{ newMemberForm.status }}</p>
  </div>
</div>
