<div id="body">
  <br>
  <h1 class="text-center pt-5">Créer un compte</h1>
  <br>
  <div id="a" class="text-center w-25">
    <form id="connectForm" class="form-group" method="post" action="#">
      <br>
      <label class="font-weight-bold" for="firstName">Prénom :</label>
      <br>
      <input type="firstName" id="firstName" class="form-control" name="firstName" placeholder="Entrez votre prénom" required>
      <br>
      <label class="font-weight-bold" for="email">Nom :</label>
      <br>
      <input type="lastName" id="lastName" class="form-control" name="lastName" placeholder="Entrez votre nom" required>
      <br>
      <label class="font-weight-bold" for="email">Courriel :</label>
      <br>
      <input type="email" id="email" class="form-control" name="email" placeholder="Entrez votre courriel" required>
      <br>
      <label class="font-weight-bold" for="pw1">Mot de passe :</label>
      <br>
      <input type="password" id="pw1" class="form-control" name="pw1" placeholder="Créer un mot de passe" required>
      <br>
      <input type="password" id="pw2" class="form-control" name="pw2" placeholder="Confirmez le mot de passe" required>
      <br><br>
      <input class="form-control btn btn-success border-dark shadow-lg" type="submit" name="submit" value="Se Connecter">
      <input id="cancel" class="form-control btn btn-danger border-dark shadow-lg" type="reset" value="Annuler">
    </form>
  </div>
</div>
