#body {
  background-image: url(../../../IMAGES/water5.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

h1 {
  color: #004e64;
  text-align: center;
  font-family: Algerian;
  font-size: 70px;
  animation-name: Anti-covidios;
  animation-duration: 8s;
}

@keyframes Anti-covidios {
  0% {
    color: #00A5CF;
  }
  25% {
    color: #9FFFCB;
  }
  50% {
    color: #25A18E;
  }
  100% {
    color: #7AE582;
  }
}
