<div id="body">
  <br>
  <h1
    class="display-3 text-light border border-dark bg-info text-center rounded-pill m-3 p-2 font-weight-bolder">Historique des programmes complétés</h1>
  <br>
  <div id="a" class="container text-dark p-5">
    <!--TODO : Its going to be dynamic-->
    <table class="table table-bordered table-primary">
      <thead class="text-dark font-weight-bold">
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Programmes complétés</th>
      </tr>
      </thead>
      <tbody class="text-info">
      <!--TODO : There will be as much as kids linked to the account-->
      <tr>
        <th>Mélodie</th>
        <th>St-Onge</th>
        <!--TODO : an array of activities-->
        <th class="text-danger">Le classique</th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
