<div id="body">
  <br>
  <h1 class="text-center">Se connecter à son compte</h1>
  <br>
  <div id="connectAccount">
    <form id="connectForm" class="container text-center" method="post" form action="">
      <br>
      <label class="font-weight-bold" for="email">Courriel :</label>
      <br>
      <input type="email" id="email" name="email" placeholder="Entrez votre courriel" required>
      <br>
      <label class="font-weight-bold" for="pw1">Mot de passe :</label>
      <br>
      <input type="password" id="pw1" name="pw1" placeholder="Entrez votre mot de passe" required>
      <br><br>
      <input class="btn btn-success border-dark shadow-lg" type="submit" name="submit" value="Se Connecter">
      <input id="cancel" class="btn btn-danger border-dark shadow-lg" type="reset" value="Annuler">
    </form>
  </div>
</div>
