<div id="body">
  <br>
  <div class="row justify-content-center p-5">
    <h1 class="display-3 text-light border border-dark bg-info text-center rounded-pill m-3 p-2 font-weight-bolder">Se
      connecter à son compte
    </h1>
  </div>

  <br>
    <div id="a" class="w-25 h-auto m-auto text-center">
      <!--TODO : It will be dynamic here-->
    <form id="connectForm" class="form-group m-auto p-5 w-auto h-auto" method="post" action="#">
      <label class="font-weight-bold text-center" for="email">Courriel :</label>
      <input type="email" id="email" class="form-control m-auto w-auto border border-dark" name="email"
             placeholder="Entrez votre courriel" required>
      <label class="font-weight-bold text-center" for="pw">Mot de passe :</label>
      <input type="password" id="pw" class="m-auto  form-control w-auto border border-dark" name="pw"
             placeholder="Entrez votre mot de passe"
             required>
      <input class="form-control btn btn-success border border-dark w-auto text-light mt-3 mr-2" type="submit"
             name="submit"
             value="Se Connecter">
      <input id="cancel" class="form-control btn btn-danger border border-dark w-auto text-light mt-3 ml-2" type="reset"
             value="Annuler">
    </form>
  </div>
</div>
