<div id="body">
  <br>
  <div class="row justify-content-center p-5">
    <h1 class="display-3 text-light border border-dark bg-info text-center rounded-pill m-3 p-2 font-weight-bolder">Se
      connecter à son compte
    </h1>
  </div>
  <div class="row w-auto h-auto m-xlg-4 p-xl-4 justify-content-center">
    <div id="a" class="col-2 w-25 h-auto m-4 text-center">
      <p id="members"
        class="col-md-12 mx-auto mt-4 bg-success border text-dark border-dark rounded-pill w-auto h-auto p-2 row justify-content-center">
        Membres
      </p>
      <form
        (ngSubmit)="onSubmitUser(fu)"
        (submit)="onLoginUser()"
        #fu="ngForm"
        id="connectFormUser"
        class="form-group m-2 p-2 w-auto h-auto m-auto"
        method="post"
        action="#">
        <label
          class="font-weight-bold text-center\"
          for="emailUser">
          Courriel :
        </label>
        <input
          type="email"
          id="emailUser"
          class="col-md-12 form-control m-auto w-auto border border-dark"
          ngModel
          name="email"
          placeholder="Entrez votre courriel"
          required
          email
          #eu="ngModel">
        <div class="alert-danger small text-left" *ngIf="!eu.valid && eu.touched">
          ⚠️Svp, veuillez entrer un courriel valide!..
        </div>
        <label
          class="font-weight-bold text-center"
          for="pwUser">
          Mot de passe :
        </label>
        <input
          type="password"
          id="pwUser"
          class="col-md-12 m-auto  form-control w-auto border border-dark"
          ngModel
          name="pw"
          placeholder="Entrez votre mot de passe"
          required
          #pu="ngModel">
        <div class="alert-danger small text-left" *ngIf="(!(regExPw.test(pu.value)) && pu.touched)">
          ⚠️Svp, veuillez entrer un mot de passe contenant au minimum 8 lettres, un symbole(#$%...), un nombre, une
          lettre majuscule et une lettre minuscule!..
        </div>
        <input
          class="col-md-12 mx-1 form-control btn btn-success border border-dark w-auto text-light mt-3 mr-2"
          type="submit"
          name="submitUser"
          value="Se Connecter"
          [disabled]="!fu.valid">
        <input
          id="cancelUser"
          class="col-md-12 mx-1 form-control btn btn-danger border border-dark w-auto text-light mt-3 ml-2"
          type="reset"
          value="Annuler"
          routerLink="">
      </form>
    </div>
    <div id="b" class="col-2 w-25 h-auto m-4 text-center">
      <p id="employes"
        class="col-md-12 mx-auto mt-4 bg-warning border text-dark border-dark rounded-pill w-auto h-auto p-2 row justify-content-center">
        Employés
      </p>
      <form
        (ngSubmit)="onSubmitAdmin(fa)"
        (submit)="onLoginAdmin()"
        #fa="ngForm"
        id="connectFormAdmin"
        class="form-group m-2 p-2 w-auto h-auto"
        method="post"
        action="#">
        <label
          class="font-weight-bold text-center"
          for="emailAdmin">
          Courriel :
        </label>
        <input
          type="email"
          id="emailAdmin"
          class="col-md-12 form-control m-auto w-auto border border-dark"
          ngModel
          name="email"
          placeholder="Entrez votre courriel"
          required
          email
          #ea="ngModel">
        <div class="alert-danger small text-left" *ngIf="!ea.valid && ea.touched && ea.value !== 'admin@admin'">
          ⚠️Svp, veuillez entrer un courriel d'administrateur valide!..
        </div>
        <label
          class="font-weight-bold text-center"
          for="pwAdmin">
          Mot de passe :
        </label>
        <input
          type="password"
          id="pwAdmin"
          class="col-md-12 m-auto form-control w-auto border border-dark"
          ngModel
          name="pw"
          placeholder="Entrez votre mot de passe"
          required
          #pa="ngModel">
        <div class="alert-danger small text-left" *ngIf="pa.value != 'admin' && pa.touched">
          ⚠️Svp, veuillez entrer un mot de passe contenant au minimum 8 lettres, un symbole(#$%...), un nombre, une
          lettre majuscule et une lettre minuscule!..
        </div>
        <input
          class="col-md-12 mx-1 form-control btn btn-success border border-dark w-auto text-light mt-3 mr-2"
          type="submit"
          name="submitAdmin"
          value="Se Connecter"
          [disabled]="!fa.valid">
        <input
          id="cancelAdmin"
          class="col-md-12 mx-1 form-control btn btn-danger border border-dark w-auto text-light mt-3 ml-2"
          type="reset"
          value="Annuler"
          routerLink="">
      </form>
    </div>
  </div>
</div>
