<div class="card-body" id="body">
  <div id="content" class="container">
    <br>
    <div id="title" class="row justify-content-center p-2">
      <h1
        class="shadow-lg display-3 text-light border border-dark bg-info text-center rounded-pill m-3 p-2 font-weight-bolder">
        ⦳Anti-Covidios😷</h1>
    </div>
    <div class="row justify-content-center">
      <h2 id="accueil" class="shadow-lg display-4 text-center text-dark font-weight-bolder">Accueil</h2>
    </div>
    <br>
    <div id="b" class="">
      <h3 class="text-center text-primary">Bienvenue sur le site de notre camp de jour!</h3>
      <hr>
      <h4 class="text-center text-secondary">C'est un départ pour l'été 2021!</h4>
      <hr>
      <div class="text-center">
        <p id="text1" class="">
          Nous voilà sortie de cet enfer de covid 2020! Maintenant il sera <strong>enfin</strong> possible de profiter
          sans avoir à s'<strong>étouffer</strong> au soleil avec son masque (du moins, on le souhaite)!
        </p>
        <p>
          <span style="color: red"><em><strong>Important</strong></em>:</span>
          N'oubliez pas de vous assurez que votre enfant a bien recus les deux vaccins pour combattre le
          covid-19 afin d'éviter une explosion de covid entre les enfants du camp de jour!
        </p>
      </div>
      <h2 class="text-center text-dark">Merci et bon séjour!</h2>
      <h4 class="text-center">De vos amis les propriétaires.</h4>
      <br>
      <p id="proprio"
         class="container w-25 bg-light text-center font-italic font-weight-light text-dark border border-dark rounded-circle">
        Carl
        <br>
        Matthew
        <br>
        Massoud
      </p>
      <p class="container display-3 text-center border border-dark w-75 rounded-pill bg-success shadow">
        ☀️🌳😀⚽️🔭🌖🏸🧘🏼‍♀️</p>
    </div>
    <hr>
    <div id="c">
      <h2 class="text-center text-danger">Informations importantes!</h2>
      <hr>
      <ul class="flex">
        <li>Les offres pour l'été 2021 :</li>
        <ul>
          <li><strong>3</strong> différentes programmations par semaine</li>
          <li><strong>1</strong> programme par <strong>semaine</strong></li>
          <li><strong>1</strong> session a une durée de <strong>15 semaines</strong></li>
        </ul>
        <br>
      </ul>
      <li>Un enfant peut être inscrit pendant <strong>une ou plusieurs</strong> semaines</li>
      <br>
      <li>Un programme contient :</li>
      <br>
      <ul>
        <li>Un horaire de <strong>5</strong> jours</li>
        <li>Des activités ou des blocs d'activités (activités composé d'activités) pour
          <strong>chaque jour</strong>
        </li>
        <li>Une description</li>
        <li>Des moniteurs</li>
        <li>Un horaire</li>
        <li>Une liste d'enfants inscrits à ce programme</li>
        <li>Liste d'ectivités et de blocs d'activités spécifique au programme</li>
        <br>
      </ul>
      <li>Il y a un <strong>maximum de 6 activités par jours</strong></li>
    </div>
  </div>
</div>
