<div id="body" class="card-body">
  <div class="row justify-content-center p-3">
    <h1
      class="display-3 text-light border border-dark bg-info text-center rounded-pill m-3 p-2 font-weight-bolder">
      Votre facture
    </h1>
  </div>
  <div class="p-lg-5">
    <div class="row">
      <div class="col-md-6">
        <div id="a" class="container">
          <app-shopping-pay></app-shopping-pay>
        </div>
      </div>
      <div id="b" class="col-md-6 ">
        <div>
          <app-shopping-edit></app-shopping-edit>
        </div>
      </div>
    </div>
  </div>
</div>
