<h1>Choisissez votre enfant</h1>

<mat-form-field appearance="fill">
    <select class="col-12 form-control m-auto w-auto border border-dark" matNativeControl required>
        <option>enfant A</option>
        <option>enfant B</option>
        <option>enfant C</option>
    </select>
</mat-form-field>
<mat-dialog-actions class="justify-content-center">
    <input
        class="mx-1 form-control btn btn-success border border-dark w-auto text-light mt-3 mr-2"
        type="submit"
        value="Je confirme">
    <input
        id="cancelUser"
        class="mx-1 form-control btn btn-danger border border-dark w-auto text-light mt-3 ml-2"
        type="reset"
        value="Annuler">
</mat-dialog-actions>