<h1>Choisissez votre enfant</h1>

<mat-form-field appearance="fill">
    <select matNativeControl required>
        <option class="h5" *ngFor="let child of memberService.getChildren()">
            {{child.firstName}}
        </option>
    </select>
</mat-form-field>
<mat-dialog-actions class="justify-content-center">
    <input 
        class="mx-1 form-control btn btn-success border border-dark w-auto text-light mt-3 mr-2"
        type="submit"
        value="Je confirme">
    <input (click)="closePopup()"
        id="cancelUser"
        class="mx-1 form-control btn btn-danger border border-dark w-auto text-light mt-3 ml-2"
        type="reset"
        value="Annuler">
</mat-dialog-actions>