<h1>Choisissez votre enfant</h1>
<mat-dialog-content>
<mat-form-field appearance="fill">
    <select (change)="selectChangeHandler($event)" [(ngModel)]="selectedChild" matNativeControl>
        <option id="childChosen" class="h5" [value]="child.firstName"
        *ngFor="let child of memberService.getChildren()">
            {{child.firstName}}
        </option>
    </select>
</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-center">
    <button [mat-dialog-close]="selectedChild"
        class="mx-1 form-control btn btn-success border border-dark w-auto text-light mt-3 mr-2"
        >Je confirme</button>
    <input (click)="closePopup()"
        id="cancelUser"
        class="mx-1 form-control btn btn-danger border border-dark w-auto text-light mt-3 ml-2"
        type="reset"
        value="Annuler">
</mat-dialog-actions>