<br>
<h1 class="text-center pt-5">Supprimer un enfant de son compte</h1>
<br>
<div id="as" class="container">
  <form class="form-group pt-5">
<!--TODO : Its going to be dynamic-->
    <select class="custom-select d-block w-auto form-control" id="kid" required>
      <option value="">Choisir l'enfant...</option>
      <option>Enfant1</option>
      <option>Enfant2</option>
      <option>Enfant3</option>
      <option>Enfant4</option>
      <option>Enfant5</option>
      <option>Enfant6</option>
    </select>
    <input id="Supprimer" class="form-control btn btn-danger border-dark w-auto text-light"
           type="submit"
           value="Supprimer">
  </form>
</div>
