h1 {
    margin-top: 2%; 
    color: #004e64;
    text-align: left;
    font-family: Algerian;
    font-size: 70px;
    animation-name: panier;
    animation-duration: 8s;
  }
  
  @keyframes panier {
    0% {
      color: #00A5CF;
    }
    25% {
      color: #9FFFCB;
    }
    50% {
      color: #25A18E;
    }
    100% {
      color: #7AE582;
    }
  }