<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <img src="#" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <!--TODO : It will be dynamic here-->
      <h1>Nom du programme</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle">Option du programme<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <!--TODO : It will be dynamic here-->
          <li><a href="#">Ajouter ce programme au panier</a></li>
          <li><a href="#">Modifier ce programme</a></li>
          <li><a href="#">Enlever ce programme</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!--TODO : It will be dynamic here-->
      Description
    </div>
  </div>
  <div class="row">
    <!--TODO : It will be dynamic here-->
    Détails
  </div>
</div>
