<br>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-warning border-dark text-dark shadow-lg">Ajouter un programme</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix bg-light border-dark shadow-lg" *ngFor="let program of programs">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ program.name }}</h4>
        <p class="list-group-item-text">{{ program.description }}</p>
      </div>
      <span class="float-right">
          <img [src]="program.imagePath" alt="{{ program.name }}" class="img-responsive" style="max-height: 100px;">
        </span>
    </a>
    <app-program-item></app-program-item>
  </div>
</div>
