#programs {
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #004e64;
  background-color: rgba(135, 206, 250, 0.8);
  margin: auto;
  padding: 30px;
  box-shadow: 10px 0px 20px;
}

#newProgram {
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #004e64;
  background-color: rgba(135, 206, 250, 0.4);
  margin: auto;
  padding: 30px;
  box-shadow: 10px 0px 20px;
}