<div id="z" class="w-50">
  <p class="display-4 text-center m-0 p-2 border border-dark bg-success text-dark">Votre Panier</p>
  <ul id="tab" class="list-group border border-light m-auto">
    <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
      <!--TODO : It is going to be dynamic-->
        <h5 class="text-secondary font-weight-bold">Le Classique</h5>
      </div>
      <h5 class="text-muted font-weight-bold">$100</h5>
    </li>
    <!--TODO : It is going to be dynamic-->
    <li class="list-group-item d-flex justify-content-between">
      <h2 class="font-weight-bolder">Total</h2>
      <h2 class="text-primary font-weight-bolder">$250</h2>
    </li>
  </ul>
</div>
